@charset "UTF-8";

.btn-danger:hover{
	color: yellow;
	background-color: red;
	transform: scaleY(1.5);	
}

.btn{
	width: 160px;
	font-size: 14px;
	margin-bottom: 2%;
	margin-top: 2%;
}

.entrada-texto{
	width: 180px;
}

.links-gerais{
	text-decoration: none;
}

.links-gerais:hover{
	color: yellow;
	background-color: silver;
}

.tm-botao{
	width: 160px;
	margin-top: 4px;
	margin-right: 4px;
	font-size: 10px;
}

.btnAdmin{
	margin-top: 5px;
	margin-right: 8px;
	font-size: 16px;
	width: 165px;
}

.posicao-tela-s, .edtTurma, .edtProf, .listaTurma, .telaAdmin, .posicao-tela-sp, .posicao-tela-m, 
.posicao-tela-pt, .posicao-tela-t, .telaAvaliacao, .telaPai{
	position: relative;
}

.tm-input{
	margin-top: 4px;
}

.textComent{
	width: 280px;
	font-weight: bold; 
}

.outLabel{
	width: 200px;
}

.seletor-conceito{
	width:150px;
}

.btnProfAdmin{
	width: 175px;
	
}

.esqueceuSenha{
	font-size: 17px;	
	width: 190px;
	margin-bottom: 1%;
}

.btn_ava{
	margin-bottom: 4%;
}




