@charset "UTF-8";

.btn-danger:hover{
	color: yellow;
	background-color: red;
	transform: scaleY(1.5);	
}

.entrada-texto{
	width: 180px;
}

.links-gerais{
	text-decoration: none;
	
}

.links-gerais:hover{
	color: yellow;
	background-color: silver;
}

.tm-botao{
	width: 160px;
	margin-top: 4px;
}

.posicao-tela-s, .edtTurma, .edtProf, .listaTurma, .telaAdmin, .posicao-tela-sp, .posicao-tela-m, 
.posicao-tela-pt, .posicao-tela-t, .telaAvaliacao, .telaPai{
	position: relative;
}

.tm-input{
	width: 200px;
	margin-top: 4px;
}

.textComent{
	width: 200px;
}

.outLabel{
	width: 200px;
}

.seletor-conceito{
	width:150px;
}





